.flex-col-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-row-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-col-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-row-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.outer-shadow {
  box-shadow: 0 0 1vw #000;
}

.inner-shadow {
  box-shadow: inset 0 0 1vw #000;
}
